<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/login.css">
	<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
	<div id="shade"></div>
	<form action="">
		<div class="formField">
			<label for="">手机号：</label>
			<input type="text" name="tel">
		</div>

		<div class="formField">
			<label for="">密码：</label>
			<input type="password" name="pwd">
		</div>

		<div class="formField">
			<button>登录</button>
		</div>

		<a href="/users/register">我要注册</a>
	</form>
	
</body>
</html>