<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="/css/login.css">
	<script type="text/javascript" src="/js/register.js"></script>
</head>
<body>
	<div id="shade"></div>
		<form action="">
			<div class="formField">
				<label>手机号：</label>
				<input type="text" name="tel">
			</div>

			<div class="formField">
				<label>密码：</label>
				<input type="password" name="pwd">
			</div>

			<div class="formField">
				<label>姓名：</label>
				<input type="text" name="name">
			</div>

			<div class="formField">
				<label>单位：</label>
				<input type="text" name="unit">
			</div>

			<div class="formField">
				<button>注册</button>
			</div>

			<a href="/users/login">我要登录</a>
		</form>
	
</body>
</html>